@model CentrumBiblioteket.Models.BookLoan

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>BookLoan</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LibraryCard)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LibraryCard.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BookEdition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BookEdition.BookTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BookCopy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BookCopy.Available)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LoanDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LoanDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReturnDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReturnDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.BookLoanId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
